<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>229395274149-amumdn4ofs4mf9qfp4bg3j9d8o3ar05c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.229395274149-amumdn4ofs4mf9qfp4bg3j9d8o3ar05c</string>
	<key>API_KEY</key>
	<string>AIzaSyAkEGcRZ5RfYP1OsXIpmZMKZBgJFh6A254</string>
	<key>GCM_SENDER_ID</key>
	<string>229395274149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.group5.tdc.ios.app.MessengerIOS</string>
	<key>PROJECT_ID</key>
	<string>messengerios-b2aa7</string>
	<key>STORAGE_BUCKET</key>
	<string>messengerios-b2aa7.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:229395274149:ios:4c6b15ec28643a4e4eb04c</string>
</dict>
</plist>